/* src/components/Features.scss */

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f4f4f4; // Adjust this based on your theme
  
    .feature-item {
      text-align: center;
      width: 30%; // Adjust width as necessary
      padding: 20px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  
      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        color: #333;
      }
    }
  }
  