footer {
    background-image: url('../assets/images/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  footer p {
    margin: 0;
  }
  