.hero {
    background-image: url('/assets/images/stone-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }